<mat-card class="homecard">
  <mat-card-content>
    <h1>Hello {{ supplierData.name }} {{ supplierData.lastName }}</h1>
  </mat-card-content>
</mat-card>

<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>

    <h1>My Clients</h1>
    <table>
      <tr class="trtop">
        <td>Store Name</td>
        <td>Name</td>
        <td>Last Name</td>
      </tr>
      <tr>
        <td>Mass</td>
        <td>Richard</td>
        <td>Horta</td>
      </tr>
      <tr>
        <td>Great Guitars</td>
        <td>Joel</td>
        <td>Lampe</td>
      </tr>
      <tr>
        <td>Good Items</td>
        <td>Danny</td>
        <td>Teon</td>
      </tr>
    </table>

  </mat-grid-tile>
  <mat-grid-tile>Orders</mat-grid-tile>
</mat-grid-list>
